.skills{
    padding: 1rem 7rem;
}

.skills-title{
    text-align: center;
    font-size: 1.7rem;
}

.skills-line{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.skills-box{
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 10rem;
    width: calc(100% / 8 - 1rem);
    justify-content: end;
}

.skills-box ul {
    padding-left: 1rem;
}

.skills-box img {
    margin-bottom: 0.5rem;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .skills {
        padding: 1rem;
    }

    .skills-line {
        height: 70vh;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .skills-box {
        width: calc(100% / 4 - 1rem);
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .skills {
        padding: 2rem;
    }

    .skills-line {
        height: 45vh;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .skills-box {
        height: 9.5rem;
        width: calc(100% / 4 - 1rem);
    }
}